@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
<div>@DateTime.UtcNow</div>
<img src="~/Content/datatype.png" />
<video controls="controls">
    <source src="~/Content/C_%20Class-20220825_121350-Meeting%20Recording.mp4" type="video/mp4" />
</video>
<h1>@ViewBag.Download</h1>